<section id="todoapp">
  <header id="header">
    <h1>Books</h1>
  </header>
 {{link-to 'New book' 'create'}}
  <section id="main">
    <ul id="todo-list">
       {{#each}}
          <li>

        {{#link-to 'book' this}}
            <label>
            {{title}}
            </label>
            
            {{/link-to}}
            <button class="destroy"></button>
          </li>
        {{/each}}
    </ul>
 
    </section>
