
 <section id="index">
  <header id="header">
    <h1>Books</h1>
  </header>
 {{link-to 'New book' 'books.create'}}
  <section id="main" >
{{#if model.isSettled}}
    <ul id="todo-list">
       {{#each this}}
          <li>

        {{#link-to 'books.book' this}}
            <label>
            {{title}}
            </label>
            
            {{/link-to}}
            <button class="destroy"></button>
          </li>
        {{/each}}
       

        {{page-numbers content=content}}
    </ul>
    {{else}}
   <div class="bubblingG">
    <span id="bubblingG_1">
    </span>
    <span id="bubblingG_2">
    </span>
    <span id="bubblingG_3">
    </span>
    </div>
    {{/if}}
    </section>
